{
  "test": ["./**/*.ts", "./**/*.tsx"],
  "presets": [
    [
      "@babel/preset-env",
      {
        "exclude": [
          "@babel/plugin-transform-regenerator",
          "@babel/plugin-transform-async-to-generator",
          "@babel/plugin-proposal-object-rest-spread"
        ]
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    ["@babel/plugin-proposal-decorators", { "decoratorsBeforeExport": true }]
  ]
}
